In [1]:
import pandas as pd
import utils_2 as util
import os

confg=util.import_yaml(os.path.join(os.getcwd(),'config','config.yml'))
data, category_index = util.Read_VOC(confg)

100%|████████████████████████████████████████████████████████████████████████████| 2501/2501 [00:00<00:00, 5607.39it/s]

In [2]:
category_index
data_pd = pd.DataFrame.from_dict(data)
data_pd['objects']=data_pd.apply(lambda row: len(row.cls),axis=1)
col_name = list(data_pd.columns)
data_pd['area'] = data_pd.apply(
    lambda x: ((x[col_name[3]] - x[col_name[4]])[:, 1] * (x[col_name[3]] - x[col_name[4]])[:, 0]), axis=1)

data_pd['center_point'] = data_pd.apply(
    lambda x: ((x[col_name[4]])+(x[col_name[3]]))/2.0, axis=1)

In [118]:
 data_pd['cls'] 
    
k=data_pd.apply(
            lambda x: [ '1'  and 0 ] in(x[col_name[0]]), axis=1)

# data_pd.apply(
#             lambda x: (x[col_name[0]]), axis=1)

data_pd[k]


k=data_pd.apply( lambda x: any([k in(x.cls) for k in [0,18,1]]), axis=1)
data_pd[k]
# data_pd.shape

,cls,difficult,path,yx_max,yx_min,objects,area,center_point
0,[1],[0],C:\Users\alibh\Desktop\My_Qt\Pascal_VOC_DataLo...,"[[269.0, 350.0]]","[[96.0, 155.0]]",1,[33735.0],"[[182.5, 252.5]]"
1,"[0, 18]","[0, 0]",C:\Users\alibh\Desktop\My_Qt\Pascal_VOC_DataLo...,"[[198.0, 278.0], [335.0, 402.0]]","[[61.0, 184.0], [77.0, 89.0]]",2,"[12878.0, 80754.0]","[[129.5, 231.0], [206.0, 245.5]]"
2,"[2, 2, 2, 0, 0, 0]","[0, 0, 1, 0, 0, 0]",C:\Users\alibh\Desktop\My_Qt\Pascal_VOC_DataLo...,"[[499.0, 244.0], [499.0, 333.0], [499.0, 89.0]...","[[229.0, 8.0], [219.0, 229.0], [177.0, 1.0], [...",6,"[63720.0, 29120.0, 28336.0, 42320.0, 110400.0,...","[[364.0, 126.0], [359.0, 281.0], [338.0, 45.0]..."
3,[1],[0],C:\Users\alibh\Desktop\My_Qt\Pascal_VOC_DataLo...,"[[211.0, 336.0]]","[[124.0, 89.0]]",1,[21489.0],"[[167.5, 212.5]]"
4,"[6, 6, 0, 0]","[0, 0, 0, 0]",C:\Users\alibh\Desktop\My_Qt\Pascal_VOC_DataLo...,"[[182.0, 374.0], [122.0, 196.0], [228.0, 212.0...","[[77.0, 103.0], [87.0, 132.0], [179.0, 194.0],...",4,"[28455.0, 2240.0, 882.0, 882.0]","[[129.5, 238.5], [104.5, 164.0], [203.5, 203.0..."
...,...,...,...,...,...,...,...,...
2347,"[4, 1]","[0, 0]",C:\Users\alibh\Desktop\My_Qt\Pascal_VOC_DataLo...,"[[339.0, 319.0], [51.0, 324.0]]","[[54.0, 136.0], [0.0, 241.0]]",2,"[52155.0, 4233.0]","[[196.5, 227.5], [25.5, 282.5]]"
2349,"[0, 0, 0]","[0, 0, 0]",C:\Users\alibh\Desktop\My_Qt\Pascal_VOC_DataLo...,"[[206.0, 220.0], [331.0, 364.0], [331.0, 499.0]]","[[0.0, 10.0], [8.0, 1.0], [1.0, 264.0]]",3,"[43260.0, 117249.0, 77550.0]","[[103.0, 115.0], [169.5, 182.5], [166.0, 381.5]]"
2350,"[4, 0]","[0, 0]",C:\Users\alibh\Desktop\My_Qt\Pascal_VOC_DataLo...,"[[290.0, 328.0], [289.0, 304.0]]","[[119.0, 86.0], [37.0, 144.0]]",2,"[41382.0, 40320.0]","[[204.5, 207.0], [163.0, 224.0]]"
2352,"[13, 7, 0, 0, 0]","[0, 0, 0, 0, 0]",C:\Users\alibh\Desktop\My_Qt\Pascal_VOC_DataLo...,"[[349.0, 499.0], [374.0, 499.0], [311.0, 426.0...","[[120.0, 127.0], [240.0, 194.0], [89.0, 24.0],...",5,"[85188.0, 40870.0, 89244.0, 17536.0, 1892.0]","[[234.5, 313.0], [307.0, 346.5], [200.0, 225.0..."
2353,[1],[0],C:\Users\alibh\Desktop\My_Qt\Pascal_VOC_DataLo...,"[[186.0, 329.0]]","[[141.0, 191.0]]",1,[6210.0],"[[163.5, 260.0]]"

In [67]:
A=[True , False, True]
any(A)

True

In [114]:

# python code to demonstrate working of reduce() 
  
# importing functools for reduce() 
import functools 
  
# initializing list 
lis = [ 1 , 3, 5, 6, 2, ] 
  
# using reduce to compute sum of list 
print ("The sum of the list elements is : ",end="") 
print (functools.reduce(lambda a,b : a and b,lis))

The sum of the list elements is : 2

In [115]:
x=[1,2,3,4]

rr= lambda t : all([k in x for k in t])

rr([1])

True

In [113]:
temp={'cow': 16, 'car': 1, 'potted': 10, 'cat': 15, 'bottle': 8, 'plant': 11, 'chair': 7, 'bicycle': 2, 'bus': 3, 'sheep': 19, 'dining table': 9, 'person': 0, 
      'motorbike': 4, 'dog': 17, 'train': 5, 'tv monitor': 12, 'horse': 18, 'bird': 14, 'sofa': 13, 'aeroplane': 6}
(list(zip(list(temp.keys()),list(temp.values())))[:])

[str(i)+' ('+str(temp[i])+')' for i in temp]

['plant (11)',
 'person (0)',
 'car (1)',
 'dining table (9)',
 'bicycle (2)',
 'train (5)',
 'bus (3)',
 'cow (16)',
 'sofa (13)',
 'chair (7)',
 'dog (17)',
 'tv monitor (12)',
 'bottle (8)',
 'sheep (19)',
 'motorbike (4)',
 'potted (10)',
 'cat (15)',
 'bird (14)',
 'aeroplane (6)',
 'horse (18)']